HUD
{
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-top: .5%;
	font-family: sans-serif;
	
	.Items {
		position: relative;
		margin: 4px;
		background-color: rgba(0, 0, 0, 0.75);
		border: 3px solid rgba(0, 0, 0, 1);
		width: 96.5%;
		height: auto;
		min-height: 10%;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.Item Image {
		width: 115px;
		height: 115px;
	}
	.ItemCounter {
		color: white;
		text-stroke: 10px black;
		font-weight: bold;
		position: absolute;
		font-size: 35px;
		left: 55px;
		top: 55px;
	}

	.Health {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 20px;
		width: 300px;
		height: 30px;
		background-color: rgba(0, 0, 0, 0.75);
		border: 3px solid rgba(0, 0, 0, 1);
		border-radius: 2px;

		.HealthBar {
			background-color: red;
			height: 100%;
		}

		.HealthNumber {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			justify-content: center;
			align-items: center;
			text-stroke: 5px black;
			font-size: 20px;
			color: white;
		}
	}
}