HUD
{
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-top: .5%;
	
	.Items
	{
		position: relative;
		margin: 4px;
		background-color: rgba(0, 0, 0, 0.75);
		border: 3px solid rgba(0, 0, 0, 1);
		width: 96.5%;
		height: auto;
		min-height: 10%;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.Item img
	{
		width: 115px;
		height: 115px;
	}
	.ItemCounter
	{
		color: white;
		text-stroke: 10px black;
		font-weight: bold;
		position: absolute;
		font-size: 35px;
		left: 55px;
		top: 55px;
	}
}