@using Chikara
@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="Items">
		@if ( Player.Items != null )
		{
			@foreach ( var i in Player.Items )
			{
				<div class="Item">
					<Image Texture="@i.Key.Icon" alt=""/>
					@if ( i.Value > 1 )
					{
						<div class="ItemCounter"><div>x</div>@i.Value</div>
					}
				</div>
			}
		}
	</div>
</root>

@code
{
	public ChikaraPlayer Player => ChikaraPlayer.Local;
	protected override int BuildHash()
	{
		var hash = new System.HashCode();
		foreach (var item in Player.Items)
		{
			hash.Add(item.Key);
			hash.Add(item.Value);
		}
		return hash.ToHashCode();
	}
}
