@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="Items">
		@if ( Player.Items != null )
		{
			@foreach ( var i in Player.Items )
			{
				<div class="Item">
					<img src=@i.Key.Icon.ResourcePath alt="">
					@if ( i.Value > 1 )
					{
						<div class="ItemCounter"><div>x</div>@i.Value</div>
					}
				</div>
			}
		}
	</div>
</root>

@code
{
	[Property] ChikaraPlayer Player { get; set; }
	protected override int BuildHash()
	{
		return System.HashCode.Combine( Player.Items );
	}
}
