@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="Items">
		@if ( Player.Items != null )
		{
			@foreach ( var i in Player.Items )
			{
				<img class="Item" src=@i.Icon.ResourcePath alt="">
			}
		}
	</div>
</root>

@code
{
	[Property] ChikaraPlayer Player { get; set; }
	protected override int BuildHash()
	{
		return System.HashCode.Combine( Player.Items.Count );
	}
}
